/* Header.css */
.hamburger-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .mobile-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgb(180, 179, 179);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(112, 111, 111, 0.2);
  }
  
  .mobile-menu-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .mobile-menu-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  @media (min-width: 768px) {
    .mobile-menu {
      display: none;
    }
  }